<h1>Your Massages</h1>

<ol>
<br>
<% @assignments.each do |assignment| %>
     
     
     <li><%= link_to "#{assignment.name}", assignment_path(assignment) %></li>
       <br>
       <% tasks = assignment.tasks %>
      <% end %>
     
    </ol>

