<h1>Task Assignments</h1>


<br>
<% @assignments.each do |assignment| %>
   
     
     <%= assignment.name %>, assignment_path(assignment)
       <br>
       <% tasks = assignment.tasks %>
    
       <% end %>
