<h1>Welcome, <%= @user.username %>  </h1>

<h2>Here are your tasks:</h2>


<!-- Order tasks by due date -->
<!-- filter by assignments -->
<ul>
  <% @tasks.each do |task| %>

    <li><%= task.description %></li>
  <% end  %>
</ul>

  <!-- link to create new task  -->
  

  <%= link_to "See all Tasks", assignments_path 