<body class = "home">


<h1 class = "cover-heading">Welcome</h1>
<br>

<div class = "oauth">
<%= link_to('Log in with Facebook!', '/auth/facebook') %>
</div>



<footer class="branding">
      <br>
      <br>
      <br>
      
      
        <small>&copy; 2019 <strong>Task Manager by Candice Parker</strong></small>
       </footer>
</body>