

.oauth {
    margin-left: 200px;
    margin-top: 100px;
}


body.home {
    background: url("https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
}

.branding {
    margin-top: 240px;
    margin-left: 20px;
    
}

.container h2{
    font-family: nunito;
    
}

.a-index {
    font-family: nunito;
}

body.text-center {
    background: url("https://images.pexels.com/photos/1007025/pexels-photo-1007025.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    font-weight: bolder;
}